<h2>title:</h2>
<p><%= @book.title %></p>

<h2>body:</h2>
<p><%= @book.body %></p>

<td>
  <%= link_to "Edit", edit_book_path(book.id) %>
</td>
<td>
  <p>|</p>
</td>
　<%= link_to 'back', books_path %>
<td>
  
</td>